body {
  font-family: Arial, sans-serif;
  background: #f3e8ce;
  margin: 0;
}

header {
  background: #5c3d2e;
  color: white;
  text-align: center;
  padding: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

#vinilos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.vinilo-card {
  width: 200px;
  background: white;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  border: 2px solid #5c3d2e;
}

.vinilo-card img {
  width: 100%;
}
